.footer {
  background-color: #242424;
  color: $white;

  &-social {
    padding: 1rem 0;

    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 2rem;
    }
  }

  &-fb,
  &-pt {
    svg {
      fill: $white;
    }
  }

  &-ig {
    svg {
      path {
        fill: $white;
      }
    }
  }

  &-copyright {
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid #525252;
  }
}
